body {
    background-color: white;
}

img {
    position: absolute;
    height: 400px;
    width: 100%;
}

h1 {
    font-size: 3.75em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    position: absolute;

}

h3 {
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}